<section class="section section-secondary is-medium">
    <div class="container">
        <div class="columns">
            <div class="column is-centered-tablet-portrait">
                <h1 class="title section-title">About Me</h1>
                <div class="divider"></div>
                <div class="section is-medium">
                    <div class="container">
                        <span>I have things to say about myself</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>